<mat-card>
  <div class="search-header">
    <mat-form-field class="search-input" [formGroup]="searchForm">
      <mat-label>Search for repository</mat-label>
      <input matInput placeholder="Search..." formControlName="search">
    </mat-form-field>
  </div>
  <div class="search-results">
    <div class="search-result" *ngFor="let item of (searchResults$ | async)?.items;"
      [routerLink]="'/repo/' + item.full_name">
      <div class="result-title">{{item.full_name}}</div>
      <div class="result-description">{{item.description}}</div>
      <div class="result-details-wrapper">
        <div class="result-stars">
          <mat-icon>star_outline</mat-icon>{{item.stargazers_count}}
        </div>
        <div class="result-language">{{item.language}}</div>
        <div class="result-licence">{{item.license?.name}}</div>
      </div>
    </div>
  </div>
</mat-card>