:host {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  
}

mat-card {
  width: 800px;
}

.search-header {
  mat-form-field {
    width: 100%;
  }
}

.search-results {
  
}

.search-result {
  margin-bottom: 16px;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;

  .result-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .result-description {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .result-details-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;


  }

  .result-stars {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 8px;
  }
  .result-language {
    font-size: 12px;
    margin-right: 8px;
    color: #FF6384;
  }
  .result-license {
    font-size: 12px;
  }
}