<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="details" [active]="activeLink == 'details'" (click)="activeLink = 'details'"> Repository </a>
  <a mat-tab-link routerLink="issues" [active]="activeLink == 'issues'" (click)="activeLink = 'issues'"> Issues </a>
</nav>
<div class="outlet-wrapper">
  <router-outlet></router-outlet>
</div>