<mat-card *ngIf="repo$ | async; let repo">
  <mat-card-title>
    <div class="title-section"><span>{{repo.owner.login}}</span><span>/</span>{{repo.name}}</div>
    <div class="title-section"><a [href]="repo.html_url" target="_blank">{{repo.html_url}}</a>
      <mat-icon>launch</mat-icon>
    </div>
  </mat-card-title>
  <mat-card-subtitle>{{repo.description}}</mat-card-subtitle>
  <mat-card-content>
    <div class="forks">Forks: <mat-icon>fork_right</mat-icon> {{repo.forks}}</div>
    <div class="stars">Stargazers: <mat-icon>star_outline</mat-icon> {{repo.stargazers_count}}</div>
    <div class="issues-open">Open issues: {{openIssues$ | async}}</div>

  </mat-card-content>
</mat-card>