:host {
  display: block;
}

.tab-content {
  padding: 20px;
}

mat-card {
  width: 800px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  & > span:first-child {
    font-weight: 200;
    color: #888;
  }
  & > span:last-child {
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
  }

  .title-section:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-left: 4px;
    }
    
  }
}

mat-card-subtitle {
  color: #333;
}

.forks, .stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}