:host {
  display: block
}

mat-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
}

.layout-filters {
  grid-column: 1/3;
  padding: 8px;
}

.layout-issues {
  grid-column: 1/2;
  padding: 8px;
}

.layout-chart {
  grid-column: 2/3;
  padding: 8px;
}

.issue {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  
  .issue_details_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
  }

  .state {
    width: 30px;
    color: #FF6384;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    mat-icon {
      margin-left: 8px;
      color: #333;
      &:hover {
        color: #00f;
      }
    }
  }

  .comments {
    font-size: 12px;
    mat-icon {
      font-size: 16px;
      color: #777;
    }
  }

  .number {
    font-size: 12px;
    color: #777;
    margin-right: 8px;
  }

  &.closed {
    color: #999;
    .state {
      color: #36A2EB;
    }
    .title {
      font-weight: normal;
      mat-icon {
        color: #999;
      }
    }
  }
}