<mat-card>
  <div class="layout-filters">
    <mat-form-field class="search-input" [formGroup]="filterForm">
      <mat-select placeholder="Filter issues by" formControlName="state">
        <mat-option value="">All</mat-option>
        <mat-option value="open">Open</mat-option>
        <mat-option value="closed">Closed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="layout-issues">
    <div *ngFor="let item of (issues$ | async)" class="issue" [class.closed]="!!item.closed_at">
      <div class="issue_details_wrapper">
        <div class="state">
          <mat-icon>{{item.closed_at ? 'check_circle' : 'adjust'}}</mat-icon>
        </div>
        <div class="title">{{item.title}}  <a [href]="item.url" target="_blank" ><mat-icon>link</mat-icon></a></div>
      </div>
      <div class="issue_details_wrapper">
        <div class="number">#{{item.number}}</div>
        <div class="comments">
          Comments: {{item.comments}}
        </div>
      </div>

    </div>
  </div>
  <div class="layout-chart">
    <canvas id="chart" #chart></canvas>
  </div>
</mat-card>